table, th, td {
    border: 1px solid black;
}

div{
    text-align: center;
    
}

form{
    margin: 70px 0px 70px 0px;
    background-color: aquamarine;
    
}
   
table{
    margin: auto;
    background-color: azure;
    
}